body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 20px;
}

.navbar {
  position: fixed;
  display: flex;
  border: solid black 1px;
  padding: 5px;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 50px;
  margin-bottom: 50px;
  height: 10%;
}

.navitem {
  font-size: 30px;
  margin: 5px;
  color: black;
}

.eventlist {
  position: fixed;
  width: 10%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 50px;
  border: solid black 1px;
}

.eventitem {
  font-size: 20px;
  padding: 5px;
  color: black;
}

.eventpage {
  font-size: 30px;
  padding: 5px;
  color: black;
  margin-left: 20%;
  margin-top: 20%;
  width: 70%;
  height: 70%;
  border: solid black 1px;
}

.announcementbox {
  position: fixed;
  margin-top: 70px;
  margin-left: 20%;
  width: 80%;
  height: 80%;
}

.allannouncements {
  border: solid black 1px;
  width: 85%;
  height: 80%;
}

.announcementsingle {
  border: solid black 1px;
  background-color: rgb(250, 250, 250);
  margin: 10px;
  padding: 5px;
}

.announcetext {
  font-size: 15px;
}

.announcedate {
  font-size: 10px;
}

.companybox {
  position: fixed;
  margin-top: 70px;
  margin-left: 20%;
  width: 80%;
  height: 80%;
}

.allcompanies {
  border: solid black 1px;
  width: 85%;
  height: 80%;
}

.companysingle {
  border: solid black 1px;
  background-color: rgb(250, 250, 250);
  margin: 10px;
  padding: 5px;
}

.companytext {
  font-size: 15px;
}

.companydate {
  font-size: 10px;
}

#schedule, #help, #chat, #companies {
  border: solid black 1px;
  margin: 50px;
  margin-top: 20%;
  margin-left: 20%;
  position: fixed;
}

#entry-bar {
  padding-bottom: 10px;
}

#create-field {
  width: 60%;
  font-size: 30px;
}

#create-button {
  font-size: 30px;
}
